.form-hidden {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

input[type="checkbox"]:checked ~ .form-hidden {
	opacity: 1;
	max-height: 100px;
	overflow: visible;
}

.mbr-gallery-filter li:hover {
  color: #white;
}

.gallery-event-parent {
   padding: 5px;
}

.mbr-footer-content .btn-footer {
	display: block;
	margin-right: 2rem;
	margin-left: 2rem;
}